<img src="http://media.salon.com/2015/12/2014-06-11t155415z1813105711gm1ea6b1uc101rtrmadp3usa-politics-clinton.jpg" alt="Hilary Clinton" width="500" height="236"><p class="bg-info">I am fun.

    I enjoy fun. I both have fun and can be fun. Fun is a word that accurately describes me and a large quantity of things of which I am fond. I appreciate fun when I encounter it, and I have even been known to partake in activities that produce fun for myself and others. Fun is something I often have when amongst a group of people. In such situations, I am capable of amusing others and, in turn, of being amused by them.

    Thus, I am a fun person.</p>